@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;500;600&family=Bitter:wght@300;400&display=swap");

$primary-font: "Assistant", sans-serif;
$secondary-font: "Bitter", serif;

$pink: #e900ff;
$neon-purple: #5800ff;

$text-shadow-title: 2px 2px 0px $neon-purple, 4px 4px 0px $neon-purple,
  5.5px 5.5px 0px $neon-purple;

@mixin display-custom($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}
