@import "globalStyles.scss";

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: $secondary-font;
  margin: 3%;
  color: white;
}

div > h1,
h2 {
  margin: 30px;
  width: 50vw;
  z-index: 8;
  animation: unblur ease-in 5s 0s 1;
}

h1 {
  font-family: $primary-font;
  font-size: 5vw;
  word-spacing: 10px;
  font-weight: 100;
  text-shadow: $text-shadow-title;
}

h2 {
  font-size: calc(1.2vw + 0.9vh);
  color: $neon-purple;
  line-height: 1.2;
}

.profile-pic {
  width: 24vw;
  border-radius: 50%;
  animation: enter 1s 0s 1;
}

@keyframes unblur {
  from {
    text-shadow: 0 0 8px white;
  }
  to {
    text-shadow: 0;
  }
}

@keyframes enter {
  from {
    filter: blur(3px);
  }
  to {
    filter: blur(0);
  }
}

@media (max-width: 300px) {
  .profile {
    flex-direction: column;
  }
  h1 {
    font-size: 7vw;
  }
  img {
    flex: 0 0 50%;
  }
}
