@import "globalStyles.scss";
@import "customBootstrap.scss";

@include custom-scrollbar(".projects");
@include scrollable-div(".projects");

.projects .category {
  @include category-title;
}
.btn-primary {
  @include button-variant(
    black,
    $neon-purple,
    $primary-font,
    1.2rem,
    $neon-purple
  );
}
.project-card-wrapper {
  @include display-custom(column, center, space-between);
  margin-top: 20px;
  width: 20vw;
  height: 15vh;
  font-family: $primary-font;
  color: $neon-purple;
  background-color: black;

  border-radius: 2%;
}
.project-name {
  font-family: $primary-font;
  font-size: 25px;
  font-weight: 700;
  padding: 5px;
  margin-bottom: 20px;
  background-color: black;
}

.project-preview {
  max-height: 100%;
  max-width: 100%;
}

.btn-outline-primary {
  @include button-variant(black, $neon-purple, $primary-font, 1.2rem, white);
}
