@import "globalStyles.scss";
@import "customBootstrap.scss";

@include custom-scrollbar(".skills");
@include scrollable-div(".skills");

// .skills > * {
//   margin: 100px 2px;
// }

.skill-name {
  color: white;
  margin: 7px;
  font-family: $primary-font;
}
.icon-container {
  margin: 0 auto;
  width: 10vw;
}
.btn-primary {
  @include button-variant(
    black,
    $neon-purple,
    $primary-font,
    1.2rem,
    $neon-purple
  );
}
// .project-card-wrapper {
//   @include display-custom(column, center, space-between);
//   margin-top: 20px;
//   width: 350px;
//   height: 200px;
//   font-family: $primary-font;
//   color: $neon-purple;
//   background-color: black;
//   border: 1px solid $neon-purple;
// }
// .project-name {
//   font-family: $primary-font;
//   font-size: 25px;
//   font-weight: 700;
//   padding: 5px;
//   margin-bottom: 20px;
//   background-color: black;
// }

// .project-preview {
//   max-height: 100%;
//   max-width: 100%;
// }

// .btn-outline-primary {
//   @include button-variant(
//     black,
//     $neon-purple,
//     $primary-font,
//     1.2rem,
//     $neon-purple
//   );
// }
